html,
body {
  margin: 0;
  padding: 0;
}

body {
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body div,
body div div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#app {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
}

a:hover,
a:active {
  color: blue;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}